<a href="https://colab.research.google.com/github/Alex1s-sys/Probabilidad-y-estadistica/blob/main/Unidad1/Practica3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Probabilidad y estadistica
##Unidad 1
##Practica3: Tabla de frecuencias
## Facilitador:Jose Gabriel Rodriguez Rivas
##Alumno:Erick Alexis Flores Reyes

In [ ]:
#Basado en el libro estadisitica para la administracion pagina 12
#creamos la lista vacia que representa la edad de 100 personas
import random
edades = []
#Hacemos un ciclo para generar 100 numeros aleatorios que representan la edad de las personas
for i in range(100):
  #Generamos un numero aleatorio con la funcion randint y lo guardamos en una variable #numero aleatorio
  numero_aleatorio = random.randint(18, 70)
  #Agregamos el numero aleatorio a la lista edades
  edades.append(numero_aleatorio)
print(edades)

[60, 26, 38, 57, 54, 22, 63, 69, 65, 65, 50, 46, 42, 60, 59, 69, 46, 33, 64, 24, 54, 24, 20, 37, 23, 60, 39, 32, 69, 57, 30, 37, 36, 61, 46, 54, 31, 36, 46, 32, 20, 64, 32, 28, 64, 18, 24, 48, 31, 46, 51, 53, 42, 28, 47, 29, 20, 32, 69, 35, 43, 45, 27, 18, 60, 20, 30, 42, 49, 26, 35, 49, 51, 40, 33, 18, 66, 35, 50, 43, 67, 38, 35, 43, 61, 28, 43, 68, 37, 34, 31, 18, 60, 53, 41, 18, 69, 69, 51, 64]

In [ ]:
import pandas as pd

In [ ]:
#Crear un Dataframe de padas con los numero aleatorios
df=pd.DataFrame(edades,columns=['Edad'])
df.head()

   Edad
0    60
1    26
2    38
3    57
4    54

In [ ]:
#Calcular la tabla de distribucion de frecuencias
tabla_frecuencias=df['Edad'].value_counts().reset_index()
tabla_frecuencias.columns=['Edad','Frecuencia']
tabla_frecuencias=tabla_frecuencias.sort_values(by='Edad')

#Imprimir la tabla de distribucion de frecuencias
print("Tabla de distribucion de Frecuencias: \n ")
tabla_frecuencias

Tabla de distribucion de Frecuencias:

    Edad  Frecuencia
3     18           5
4     20           4
27    22           1
30    23           1
13    24           3
17    26           2
36    27           1
11    28           3
33    29           1
24    30           2
15    31           3
6     32           4
25    33           2
41    34           1
8     35           4
26    36           2
10    37           3
18    38           2
31    39           1
37    40           1
42    41           1
14    42           3
5     43           4
35    45           1
1     46           5
32    47           1
34    48           1
19    49           2
21    50           2
12    51           3
20    53           2
9     54           3
16    57           2
29    59           1
2     60           5
23    61           2
28    63           1
7     64           4
22    65           2
38    66           1
39    67           1
40    68           1
0     69           6

In [ ]:
tabla_frecuencias['Frecu relativa']= tabla_frecuencias['Frecuencia']/100
tabla_frecuencias

    Edad  Frecuencia  Frecu relativa
3     18           5            0.05
4     20           4            0.04
27    22           1            0.01
30    23           1            0.01
13    24           3            0.03
17    26           2            0.02
36    27           1            0.01
11    28           3            0.03
33    29           1            0.01
24    30           2            0.02
15    31           3            0.03
6     32           4            0.04
25    33           2            0.02
41    34           1            0.01
8     35           4            0.04
26    36           2            0.02
10    37           3            0.03
18    38           2            0.02
31    39           1            0.01
37    40           1            0.01
42    41           1            0.01
14    42           3            0.03
5     43           4            0.04
35    45           1            0.01
1     46           5            0.05
32    47           1            0.01
34    48           1            0.01
19    49           2            0.02
21    50           2            0.02
12    51           3            0.03
20    53           2            0.02
9     54           3            0.03
16    57           2            0.02
29    59           1            0.01
2     60           5            0.05
23    61           2            0.02
28    63           1            0.01
7     64           4            0.04
22    65           2            0.02
38    66           1            0.01
39    67           1            0.01
40    68           1            0.01
0     69           6            0.06

In [ ]:
tabla_frecuencias['Frec Porcentual']= tabla_frecuencias['Frecuencia']/ 100 * 100
tabla_frecuencias

    Edad  Frecuencia  Frecu relativa  Frec Porcentual
3     18           5            0.05              5.0
4     20           4            0.04              4.0
27    22           1            0.01              1.0
30    23           1            0.01              1.0
13    24           3            0.03              3.0
17    26           2            0.02              2.0
36    27           1            0.01              1.0
11    28           3            0.03              3.0
33    29           1            0.01              1.0
24    30           2            0.02              2.0
15    31           3            0.03              3.0
6     32           4            0.04              4.0
25    33           2            0.02              2.0
41    34           1            0.01              1.0
8     35           4            0.04              4.0
26    36           2            0.02              2.0
10    37           3            0.03              3.0
18    38           2            0.02              2.0
31    39           1            0.01              1.0
37    40           1            0.01              1.0
42    41           1            0.01              1.0
14    42           3            0.03              3.0
5     43           4            0.04              4.0
35    45           1            0.01              1.0
1     46           5            0.05              5.0
32    47           1            0.01              1.0
34    48           1            0.01              1.0
19    49           2            0.02              2.0
21    50           2            0.02              2.0
12    51           3            0.03              3.0
20    53           2            0.02              2.0
9     54           3            0.03              3.0
16    57           2            0.02              2.0
29    59           1            0.01              1.0
2     60           5            0.05              5.0
23    61           2            0.02              2.0
28    63           1            0.01              1.0
7     64           4            0.04              4.0
22    65           2            0.02              2.0
38    66           1            0.01              1.0
39    67           1            0.01              1.0
40    68           1            0.01              1.0
0     69           6            0.06              6.0

In [ ]:
tabla_frecuencias['Frecuencia acomulada']= tabla_frecuencias['Frecuencia'].cumsum()
tabla_frecuencias

    Edad  Frecuencia  Frecu relativa  Frec Porcentual  Frecuencia acomulada
3     18           5            0.05              5.0                     5
4     20           4            0.04              4.0                     9
27    22           1            0.01              1.0                    10
30    23           1            0.01              1.0                    11
13    24           3            0.03              3.0                    14
17    26           2            0.02              2.0                    16
36    27           1            0.01              1.0                    17
11    28           3            0.03              3.0                    20
33    29           1            0.01              1.0                    21
24    30           2            0.02              2.0                    23
15    31           3            0.03              3.0                    26
6     32           4            0.04              4.0                    30
25    33           2            0.02              2.0                    32
41    34           1            0.01              1.0                    33
8     35           4            0.04              4.0                    37
26    36           2            0.02              2.0                    39
10    37           3            0.03              3.0                    42
18    38           2            0.02              2.0                    44
31    39           1            0.01              1.0                    45
37    40           1            0.01              1.0                    46
42    41           1            0.01              1.0                    47
14    42           3            0.03              3.0                    50
5     43           4            0.04              4.0                    54
35    45           1            0.01              1.0                    55
1     46           5            0.05              5.0                    60
32    47           1            0.01              1.0                    61
34    48           1            0.01              1.0                    62
19    49           2            0.02              2.0                    64
21    50           2            0.02              2.0                    66
12    51           3            0.03              3.0                    69
20    53           2            0.02              2.0                    71
9     54           3            0.03              3.0                    74
16    57           2            0.02              2.0                    76
29    59           1            0.01              1.0                    77
2     60           5            0.05              5.0                    82
23    61           2            0.02              2.0                    84
28    63           1            0.01              1.0                    85
7     64           4            0.04              4.0                    89
22    65           2            0.02              2.0                    91
38    66           1            0.01              1.0                    92
39    67           1            0.01              1.0                    93
40    68           1            0.01              1.0                    94
0     69           6            0.06              6.0                   100